html,body{
overflow-x: hidden;

}

.main-body{
  
    
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
 
 
}
.title-body{
  display:flex;
  height: 20%;
  align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 50px;
}


.dashboard{
  font-size: 1.5rem;
  height: 15%;
  display:flex;
  flex-direction: column;
  width: 100%;
  
  
}
.dash-children{
  width: 100%;
  background: gold;
 
  margin-bottom: 65px;/* margin this size for thumb-size in mobile design*/
  display: flex;
  flex-direction: column;
}

.dash-children p{
  align-self: center;
 
}


.message-body{
  margin-top: 20%;
  display:flex;
  flex-direction: column;
  align-content: center;
  font-size : 1.5rem;
 
}

.message-body h2{
 align-self: flex-start;
  flex-direction: column;
 font-size: 2rem;
}

.tab-article{
  align-content: self;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  margin-bottom: 75px;
}

.tab-article h4{
  font-size: 2rem;
}


/*responsixe-design for non-mobile devices*/

@media(width > 1500px){

.main-body{
  justify-content: center;
  align-content: center;
  align-items: center;


}

.title-body{
    font-size: 2rem;
   
}

.dashboard{
  font-size: 2rem;
  display:flex;
  flex-direction: row;
  gap: 50px;
  margin: auto;
  justify-content: space-between;
}
  
  




.meetings{
    grid-area : meeting-area;
}

.projects{
    grid-area: project-area;
}

.requests{
    grid-area: request-area;
}

.submissions{
    grid-area: sub-area;
}

.hours{
    grid-area: hr-area;
}
.intro{
    grid-area: intro-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
      height: 80%;
      width: 90%;
      justify-self: center;
     

  }
  .intro h2{
    align-self: center;
    font-size: 3rem;
   
  }

  .intro h3{
    align-self: center;
    font-size: 2.5rem;
   
  }


.message-body{
  margin-top: 10%;
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
 grid-template-rows: repeat(4, 1fr);
 grid-template-areas: 
 "intro-area intro-area intro-area intro-area intro-area intro-area intro-area"
 "meeting-area meeting-area meeting-area . project-area project-area project-area "
". . hr-area hr-area hr-area . ."
"request-area request-area request-area . sub-area sub-area sub-area";
row-gap: 2%;


 
}

.tab-article{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  padding: 5%;
  display:flex;
  flex-direction: column;
  margin: 10px;
  
}

.tab-article h4{
  align-self: center;
}


  
}



