
.main-body-dash{ 
 
  margin-top: 205px;
  
  display: flex;
  width: 100%;
  flex-direction: column;
}
.message-body{

  display:flex;
  flex-direction: column;
  align-content: center;
  font-size : 1.5rem;
 
}

.message-body h2{
 align-self: flex-start;
  flex-direction: column;
 font-size: 1.5rem;
}

.tab-article-dash{
  align-content: self;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  margin-bottom: 75px;
}

.tab-article-dash h4{
  font-size: 1.5rem;
}


/*responsixe-design for non-mobile devices*/

@media(width > 1500px){

.main-body-dash{
 
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  display:flex;

}

  

.meetings{
    grid-area : meeting-area;
    
    
}

.projects{
    grid-area: project-area;
}

.requests{
    grid-area: request-area;
}

.submissions{
    grid-area: sub-area;
}

.hours{
    grid-area: hr-area;
}
.intro{
  
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 1.2rem;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
      width: 90%;
      justify-self: center;
      justify-content: center;
      padding: 1.5%;
     margin-bottom:0;
     width:75%;

  }
  .intro h2{
    align-self: center;
    
    font-size: 1.5rem;
   
  }

  .intro h3{
    align-self: center;
    font-size: 1.5rem;
    margin-bottom: 0;
  }


.tabs{
  
  margin-top: 10%;
  display:grid;
  grid-template-columns: repeat(7, 1fr);
 grid-template-rows: repeat(3, 1fr);
 grid-template-areas: 
 
 "meeting-area meeting-area meeting-area . project-area project-area project-area "
". . hr-area hr-area hr-area . ."
"request-area request-area request-area . sub-area sub-area sub-area";
row-gap: 5%;

font-size: 1.2rem;
 
}

.tab-article{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  padding: 5%;
  display:flex;
  flex-direction: column;
  margin: 10px;
  
}

.message-body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self:center;
}

.tab-article h4{
  align-self: center;
}


}
