
.main-body-dash{    
  display: flex;
  width: 95%;
  height: 100%;
  flex-direction: column;
}
.title-body{
  display:flex;
  height: 20%;
  align-self: flex-start;
  font-size: 1.5rem;
  margin-bottom: 50px;
}


.dashboard{
  font-size: 1.5rem;
  height: 100%;
  display:flex;
  flex-direction: column;
  width: 95%;
  
  
}
.dash-children{
  border-radius: 5px;
  border:12px;
  width: 100%;
  background: gold;
  margin-bottom: 65px;/* margin this size for thumb-size in mobile design*/
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;

  
}

Link{
  align-items: center;
  display:flex;
  justify-content:center;
  height:100%;
  width:100%;
 
}

.dash-children p{
  align-items: center;
  display:flex;
  justify-content:center;
  height:100%;
  width:100%;

}


.message-body{
  margin-top: 20%;
  display:flex;
  flex-direction: column;
  align-content: center;
  font-size : 1.5rem;
 
}

.message-body h2{
 align-self: flex-start;
  flex-direction: column;
 font-size: 2rem;
}

.tab-article{
  align-content: self;
  display: flex;
  font-size: 1.5rem;
  flex-direction: column;
  margin-bottom: 75px;
}

.tab-article h4{
  font-size: 2rem;
}


/*responsixe-design for non-mobile devices*/

@media(width > 1500px){

.main-bodyDash{
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-direction: column;
  display:flex;
  

}

.title-body{
  width:100%;
  height:100%;
    font-size: 2rem;

   
}

.dashboard{
  align-self:center;
  font-size: 2rem;
  display:flex;
  flex-direction: row;
  gap: 50px;
  margin: 0;

  
}
  
  




.meetings{
    grid-area : meeting-area;
    height:100%;
    width:100%;
    
}

.projects{
    grid-area: project-area;
}

.requests{
    grid-area: request-area;
}

.submissions{
    grid-area: sub-area;
}

.hours{
    grid-area: hr-area;
}
.intro{
    grid-area: intro-area;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
      height: 95%;;
      width: 90%;
      justify-self: center;
      padding: 1.5%;
     

  }
  .intro h2{
    align-self: center;
    font-size: 3rem;
   
  }

  .intro h3{
    align-self: center;
    font-size: 2.5rem;
   
  }


.message-body{
  margin-top: 10%;
  display:grid;
  width: 100%;
  height: 100%;
  grid-template-columns: repeat(7, 1fr);
 grid-template-rows: repeat(4, 1fr);
 grid-template-areas: 
 "intro-area intro-area intro-area intro-area intro-area intro-area intro-area"
 "meeting-area meeting-area meeting-area . project-area project-area project-area "
". . hr-area hr-area hr-area . ."
"request-area request-area request-area . sub-area sub-area sub-area";
row-gap: 5%;


 
}

.tab-article{
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.26);
  padding: 5%;
  display:flex;
  flex-direction: column;
  margin: 10px;
    height:100%;
    width:100%;
  
}

.tab-article h4{
  align-self: center;
}


}
