body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 20px;
    height:100%;
    }
    /* Ensuring stays under header*/
    @media(width < 1250){
    .main-article{
      margin-top: -150px;
    }

}